.login {
  margin: auto;
  width: 90%;
  padding: 10%;
  text-align: center;
  padding: auto;
}
.login_body {
  margin: auto;
}
.login_button {
  margin: 6%;
}
.login_input {
  display: block;
  margin: auto;
  margin-top: 6%;
  margin-bottom: 6%;
}
.login_signup {
  margin: 5%;
}
