.parent {
	margin: 50px auto auto auto;
}
.newPost {
	width: 90%;
	text-align: center;
	padding: 20px;
	margin: 30px;
	line-height: 80px;
}
.nameInput {
	height: 60px;
}

.captionInput {
	height: 130px;
	display: inline;
	padding-left: 200px;
	padding-right: 200px;
}

h1 {
	text-align: center;
}

.spotifyPlaylist {
	height: 100px;
	text-align: center;
	position: relative;
	border: 1px;
}

#share {
	position: absolute;
	margin: 10px auto auto 314px;
}
