.newPost {
	width: 90%;
	text-align: justify;
	padding: 20px;
	/* margin: 50px; */
	line-height: 80px;
}

.greeting{
	padding-top: 20px;
	text-align: justify;
	padding-left: 20px;
}

.nameInput {
	height: 50px;
}

.linkInput{
	height: 50px;
}

.captionInput{
	width: 300px;
}

.share{
	padding-left: 40px;
}


/* .parent {
	margin: 50px auto auto auto;
}




.captionInput {
	height: 130px;
	display: inline;
	padding-left: 200px;
	padding-right: 200px;
}

h1 {
	text-align: center;
}

.spotifyPlaylist {
	height: 100px;
	text-align: center;
	position: relative;
	border: 1px;
}

.share {
	size: 4%;
} */
