.container {
	display: flex;
	flex-direction: column;
	margin: 0px;
	margin-top: 5%;
	height: 100%;
	width: 100%;
}
.owner-info {
	margin: auto;
	font-size: 30px;
}
.title {
	font-size: 30px;
}
#playlist_embed {
	height: 30%;
	width: 100%;
	margin: auto;
	padding: auto;
	margin-bottom: 3px;
}
.comments {
	margin-top: 0px;
}
.input {
	width: 90%;
	margin: auto;
}
.button {
	margin-left: 0%;
}

.detailed-post-comments{
	width: auto;
	border: 4px;
}